body{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  padding: 24px;
  margin-left: 70px;
}

#container-tabela{
  max-height: 80vh;
  max-width: 85vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#opcoesTabela{
  width: 100%;
  gap: 1em;
  text-align: end;
}
#opcoesTabela img{
  cursor: pointer;
  filter: var(--svg-filter)
}

table{
  text-align: center;
  border-collapse: collapse;
}
table tr, table td{
  border-collapse: collapse;
  border: 1px solid darkgray;
}

table tr:not(thead tr):hover{
  cursor: pointer;
  background-color: var(--bg-primary);
}


table td{
  padding: 4px 6px;
  text-align: center;
  user-select: none;
}

table thead{
  background-color: black;
  color: rgb(234, 235, 236);
}

@supports(background-color: color-mix(in srgb, white 50%, black 50%)){
  :root table thead{
    background-color: var(--accent);
  }

  :root.dark table thead{
    background-color: color-mix(in srgb, var(--accent) 15%, black);
  }
}


td:first-of-type{padding: 0px 6px;}
.colunaFuncionario:first-of-type{width: 50px;}

.checkFuncionario{display: none;}
#opcoesTabela{visibility: hidden;}

table thead tr:first-of-type td{
  background-color: transparent;
  border: 0;
  padding: 0;
}


.checkFuncionario{
  cursor: pointer;
  width: 20px;
  aspect-ratio: 1/1;
  margin: auto;
}

.inputFuncionario{
  border: 0;
  max-width: 140px;
  overflow-x: auto;
  background-color: transparent;
  font-size: 1em;    
  cursor: pointer;
  outline: 0;
}
.inputFuncionario:focus-visible{
  outline: unset;
}

.inputFuncionario.ativo{
  border: 1px solid;
}

.cargosFuncionario{
    background-color: color-mix(in srgb, var(--accent) 75%, transparent);
    color: white;
    border-color: white;
    border-radius: 4px;
    padding: 3px;
}