:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #111827;
  --text-secondary: #5e5e5e;
  --svg-filter: brightness(0) saturate(100%) invert(0%) sepia(10%) saturate(4002%) hue-rotate(13deg) brightness(97%) contrast(78%);
  --bg-input: var(--bg-primary);

  --accent: #3b82f6; /* Pode ser trocado com tema */
  --accentOnlyLight: var(--accent);
  --accentGradientDarker: #1859c0;
  --accentGradientLighter: #51dfff;
}

.dark {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: var(--text-primary);
  --svg-filter: brightness(0) saturate(100%) invert(100%) sepia(46%) saturate(390%) hue-rotate(144deg) brightness(105%) contrast(98%);
  --bg-input: var(--bg-secondary);

  --accentOnlyLight: var(--bg-primary);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  background: var(--bg-secondary);
  color: var(--text-primary);
}
input{
  color: var(--text-primary);
  accent-color: var(--accent);
}

main{
  margin-left: 75px;
}

.icon img,
img[src$='.svg']{
  filter: var(--svg-filter);
}

.sidebar img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(46%) saturate(390%) hue-rotate(144deg) brightness(105%) contrast(98%);
}

button:not(button:disabled){
  cursor: pointer;
}


/*  */
/* SIDEBAR */
/*  */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 70px;
  background: #0f172a;
  color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar:hover {width: 220px}
.sidebar ul {list-style: none; padding: 20px 0; }

.sidebar li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar li:hover {background: #1e293b;}

#item-user{
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
}

.icon {
  font-size: 20px;
  min-width: 30px;
  text-align: center;
}

.text {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sidebar:hover .text {opacity: 1;}

/*  */
/*  */
/*  */

/*  */
/* Toggle Dark-mode */
/*  */

toggle-darkmode{
  position: fixed;
  top: 12px;
  right: 12px;
  background-color: var(--bg-secondary);
  padding: 4px;
  border-radius: 4px;
}
toggle-darkmode img{
  filter: var(--svg-filter);
  cursor: pointer;
}

/*  */
/*  */
/*  */

.container-opcoes-cores{
  bottom: 12px;
  right: 12px;
  position: fixed;
  display: flex;
  background: var(--bg-primary);
  padding: 8px;
  border-radius: 12px;
  gap: 0.25em;
}

.opcao-cor{
  width: 48px;
  height: 48px;
  border: 3px solid #dddddd;
  border-radius: 12px;
}

/* */
/* */
/* */


#container-graficos div{
  width: 480px !important;
  min-width: 300px;
  display: flex;
  flex-shrink: 1;
}

#container-graficos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 56px 0;
}