#main-container:not(form){
  justify-content: center;
  margin: auto;
  display: flex;
  position: relative;
}

#login{border-radius: 0.75rem 0 0 0.75rem;}
#cadastro{border-radius: 0 0.75rem 0.75rem 0 ;}

#div-barrier{
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 0 0.75rem 0.75rem 0;
  transition: 0.7s;

  overflow: hidden;

}
#barrier-color{
  transform: translate(-32.5%, -15%);
  width: 720px;
  height: 720px;
  background: linear-gradient(0deg, var(--accentGradientDarker),var(--accentGradientLighter));

  transform-origin: 17.5% 35%;
  animation: rotate 10s infinite;
}

#popupIlustrativo{
  background-color: var(--accentOnlyLight);
  color: white;
  border-radius: 6px;
  border: 1px solid #faf9f9;
  padding: 5px;
  height: fit-content;
  width: 176px;
  text-align: center;
  transition: opacity 0.3s;

  position: absolute;
  z-index: 2;
  opacity: 0;
}

/* From Uiverse.io by Yaya12085 */ 
.form-container {
  width: 320px;
  height: 480px;
  border-radius: 0.75rem;
  /* background-color: rgba(17, 24, 39, 1); */
  background-color: var(--bg-primary);
  padding: 2rem;
  color: var(--text-primary);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-secondary);
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: var(--bg-input);
  padding: 0.75rem 1rem;
  color: var(--text-primary);
}

.input-group input:focus {
  border-color: var(--accent);
}

@supports (background-color: color-mix(in srgb, var(--accent) 5%, transparent)){
  .input-group input:focus {
    background-color: color-mix(in srgb, var(--accent) 5%, transparent);
  }
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: var(--accent);
  padding: 0.75rem;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.sign:nth-of-type(1){
  margin-top: 16px;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.25rem;
  border: none;
  background-color: transparent;
  margin: 0.5rem 0.75rem;
  cursor: pointer;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  filter: var(--svg-filter);
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


.inputInvalido{
  border-color: #f30b58 !important;
  animation: inputInvalido 0.3s ease-in-out;
}

@keyframes inputInvalido {
  0%{transform: translateX(0);}
  25%{transform: translateX(-5px);}
  75%{transform: translateX(5px);}
  100%{transform: translateX(0);}
}

@keyframes barrier {
  0%{background: linear-gradient(0deg, #3278e9, #65d3ff);}

}

@keyframes rotate {
  from{rotate: 0deg;}
  to{rotate: 360deg;}
}